@model LoginViewModel
@{
    ViewData["Title"] = "LogIn";
}

<div class="preloader-area">
    <div class="spinner">
        <div class="inner">
            <div class="disc"></div>
            <div class="disc"></div>
            <div class="disc"></div>
        </div>
    </div>
</div>
<div class="profile-authentication-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="profile-authentication-image">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <div class="content-image">
                                <div style="margin-top:40px;" class="logo">
                                    <a style="margin-left:190px;" href="/Movies/index"><img src="~/assets/images/Logog.png" alt="Logo"></a>
                                </div>
                                <div class="vector-image">
                                    <img src="~/assets/images/vector.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div style="margin-top:38px;" class="register-form">
                    <h3 class="ipc">LogIn</h3>
                    <hr />

                    @if (TempData["Error"] != null)
                    {
                        <div class="col-md-12 alert alert-danger">
                            <span><b>Error!</b>  |  @TempData["Error"] </span>
                        </div>
                    }
                    <form asp-controller="Account" asp-action="Login" method="post" enctype="application/x-www-form-urlencoded">

                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input type="email" class="form-control" asp-for="Email" required>
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input type="password" class="form-control" asp-for="Password" required>
                            <span asp-validation-for="Password" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="test1" asp-for="RememberMe">
                            <label for="test1">Remember me</label>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-outline-success">LogIn</button>
                    </form>

                    <a href="/account/Register" style="margin-left:180px;" class="btn btn-outline-primary  lost-your-password mt-5">Have not an account? Register Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}