<div style="margin-top:150px;" class="row">
    <div class="col-md-8 offset-2 alert alert-success text-center">
        <h1 >Order completed successfully</h1>
        <h6>You can check all your orders in the Orders section of your profile.</h6>
        <hr />
        <p>Thank you!</p>
    </div>
</div>